<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164194035694-mau9m1vhmtev7aoa525ohr01jpueb8re.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164194035694-mau9m1vhmtev7aoa525ohr01jpueb8re</string>
	<key>API_KEY</key>
	<string>AIzaSyDwEYYDDi2CSua7AtN_hLi-r5RQI8NPAwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>164194035694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kirti.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios1-78831</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios1-78831.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164194035694:ios:55c365489c9b0aa759d0ff</string>
</dict>
</plist>